* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 200vh;
}

section {
    width: 100%;
    height: 100vh;
    position: relative; 
    background-color: rgba(208, 208, 208, 0.56);
}
nav {
    background-color: black;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0; 
    z-index: 2;
}
nav h1 {
    text-align: center;
}
.box {
    position: absolute; 
    top: 5rem;
    right: 0; 
    width: 600px;
    height: 700px;
    background-color: pink;
}
#ads {
    position: fixed;
    top: 5rem; 
    left: 2rem;
}
#cat, #dog {
    position: absolute;
}
#cat {
    width: 500px;
    bottom: 0;
    right: 1rem;
}
#dog {
    width: 440px;
    top: 1rem;
    left: 1rem;
}
